
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Wazzap</title>
    <meta name="Wazzap" content="A cool new chat app">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="room.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script> 
    <script>let roomName = "<%= roomName %>"</script>
    <script src="room.js"></script>
  </head>
  <body>
  <div class="container">
    <div class="chat-title-box">      
      <div class="title-item back-left">
        <a class="back-btn" href="/">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
      </div>
      <div class="title-item chat-title-center">
        <span class="chat-title">
          <%= roomName%>
        </span>
        <span class="typing">
        </span>
      </div>
      <div class="title-item" style="font-size:1.5em;padding:0.5em 1em;">
        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      </div>
    </div>
      <div class="chat-message-area">
      </div>
      <div class="chat-text-box">
        <input class="newtext" type="text" placeholder="Type a message..." autocomplete="off">
        <span class="send-btn">SEND</span>
    </div>
  </div>
  </body>
</html>